#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:Helvetica;
}
#btnContainer{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.btn:hover{
    background-color: hsl(234, 96%, 47%);
}